# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dependency directories
node_modules/
/.pnp
.pnp.js

# Build outputs
dist/
build/

# Environment variable files
.env
.env.local
.env.*.local

# Cache files
.cache/
.next/
tmp/
out/

# IDE and Editor files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Operating system files
.DS_Store
Thumbs.db

# Test coverage
coverage/

# React-specific files
*.lock
yarn-error.log
public/static/
node_modules
